<h1>Stupid Coaching</h1>

<div class="container question">
<p><%= params[:question].capitalize %></p>
<p>-You</p>
</div>

<div class="container answer">
<p><strong><%= @answer %></strong></p>
<p>-Your coach</p>
</div>
